@import '../../config.less';

.echart-card-pane {
  margin-bottom: 16px;
  position: relative;
  .ant-card-head .ant-tabs {
    margin-bottom: -1px;
  }
  .ant-tabs-bar {
    margin-top: 1px;
    margin-bottom: 0;
    padding-bottom: 1px;
  }
  // .horizontal {
  //   display: flex;
  //   width: 100%;
  //   justify-content: space-around;
  // }

  .ant-card-extra {
    position: absolute;
    right: @form-item-margin-bottom;
  }

  .ant-tabs-extra-content {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 10;
    transform: translateY(-50%);
    line-height: normal !important;
  }

  .echart-pane-title {
    margin-bottom: 0;
    line-height: 24px;
    font-size: 16px;
  }
}
.custDateFooter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}
